<%= include head %>
<%= include backend_nav %>


<div class="container">
	<div id="header" style="background-image: none; height: 5em;">
		<div class="logo">
			<img src="../images/logo-wit.png" alt="Taartenwinkel.nl logo">
		</div>
	</div>

	<div class="section">
		
		<h1>Nieuw Account</h1>

		<form method="post" action="<%= data.req.baseUrl +"/addAccount" %> " enctype="multipart/form-data">
		<fieldset>
			<label>Naam: </label><input type="text" name="name" id="name">

			<br>

			<label>Wachtwoord: </label><input type="password" name="password" id="password">
	
			<br>

			<label>Handtekening: </label><input type="file" name="image">
<br>

			<button type="submit">Save</button>


		</fieldset>
		</form>
	</div>
</div>

		</div>

<%= include foot %>