
<div class="nav">

  <div class="list hidden">
    <ul>
      <a href="#header"><li><img src="http://cms.taartenwinkel.nl/files/logo-wit1.png" alt="taartenwinkel logo"></li></a>

      <a href="/offertes">
        <li>
          <i class="fa fa-envelope"></i> Offertes
        </li>
      </a>

      <a href="/offertes/add">
        <li>
          <i class="fa fa-plus"></i> Nieuwe offerte
        </li>
      </a>

      <a href="/accounts">
        <li>
          <i class="fa fa-users"></i>
          Accounts
        </li>
      </a>

      <a href="/logout">
        <li>
          <i class="fa fa-ban"></i>
          Uitloggen
        </li>
      </a>
    </ul>
  </div>

  <span class="menu-button"><p class="menu-icon">&#9776;</p></span>

</div>