<!doctype html>

<html lang="nl">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Offerte | Taartenwinkel.nl</title>
    <meta name="description" content="Taartenwinkel.nl">
    <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="../css/font-awesome.min.css">

        <link rel="stylesheet" href="../css/style.css">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


    <script>

    </script>


  </head>
  <body>