* {
	margin: 0;
	padding: 0;
	font-family: "open sans";
}

body {
	width: 100vw;
	height: 100vh;
}

h1 {
	text-align: center;
	color: #5385a4;
	font-weight: 400;
	font-size: 2.4em;
	margin: 1em;
}

h2 {
	text-align: center;
	color: #5385a4;
	font-weight: 300;
	font-size: 1.8em;
	margin: 0.4em;	
}

.container {
	width: 100%;
	height: 100%;
}


.section {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.section > * {
	vertical-align: center;
}

.section:nth-child(2n+0) {
	background-color: ;
}

.section:nth-child(2n+1) {
	background-color: #f8f3e9;
}

#header {
	background-image: url(../images/voorbeeldtaart.jpg);
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-behavior: url(/assets/backgroundsize.htc) !important;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	z-index: -99999;
}

#header h1 {
	margin: 50vh 0.5em 0em 0.5em;
	font-size: 4.2em;
	text-align: left;
	font-weight: 600;
	text-shadow: 2px 2px 5px rgba(100,100,100,0.8); 
}

#header .logo {
	xwidth: 100%;
	padding: 1em;
	background-color: rgba(241,93,34,0.9);
	text-align: center;
	box-shadow: 0em 0em 1em 0em rgba(0,0,0,0.7);
}

#header .logo img {
	width: 90%;
	max-width: 300px;

}


#about {

}

.about-section{

}

.w30 {
	width: 90%;
	max-width: 25em;
	text-align: center;
	margin: 0 auto;
}	

.w30 h2 {
	display: block;
	height: 3em;
}


.icon {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #5385a4;
}

@media(min-width:850px) {

	.w30 {
		width: 28%;
		float: left;
		margin: 0 1%;
		float: left;
		text-align: left;
	}

	.w5 {
		width: 5%;
		height: 1px;
		float: left;
	}

}



#reference {
	background-image: url(../images/DE.jpg);
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-behavior: url(/assets/backgroundsize.htc) !important;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	z-index: 99999;
}

blockquote {
	margin: 20vh auto 0 auto;
	text-align: center;
	font-weight: 600;
	font-size: 4em;
	max-width: 15em;
	color: #5385a4;
	text-shadow: 2px 2px 5px rgba(100,100,100,0.3); 
	background-color: rgba(255,255,255,0.4);
}

blockquote:after, blockquote:before {
	content: '"';
}

.quote-name {
	font-size: 2em;
	display: block;
	font-weight: 600;
	margin: 0.4em 0% 0 40%;
	xcolor: #f15d22;
	color: black;
	xtext-shadow: 2px 2px 5px rgba(100,100,100,0.4); 
	xtext-shadow: 2px 2px 5px rgba(100,100,100,0.3); 
	xbackground-color: rgba(255,255,255,0.4);
}

.quote-name:before {
	content: "- ";
}



#offerte {
	
}

.section p {
	max-width: 30em;
	margin: 1em auto;
}



.nav {
	position: fixed;
	left: 0;
	right: 0;
}

.menu-button {
	display: inline-block;
	width: 3em;
	height: 3em;
	margin: 1em 0.5em 0.4em 0;
	text-align: center;
	border-radius: 0em 3em 3em 0;
	background-color: rgba(83,133,164,0.9);
	box-shadow: 0em 0em 0.3em 0em rgba(0,0,0,0.7);
}

.menu-button p {
	margin: 0.18em 0 0 0;
	color: white;
	font-size: 1.7em;
}


.hide {
	display: none;
}



.list {
	height: 100vh;
	overflow: hidden;
	background-color: rgba(83,133,164,0.9);
	float: left;
	/*box-shadow: inset 0.2em 0em 0.4em 0em rgba(0,0,0,0.3);*/
	box-shadow: inset -0.1em 0em 1em 0em rgba(0,0,0,0.2);
}

ul {
	list-style-type: none;
}

.list i {
	width: 1em;
	margin: 0 0.5em 0 0;
	text-align: center;
}

.list a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 0 1.2em 1.6em 1.2em;
	font-variant: small-caps;
	font-size: 1.4em;
}

.list img {
	padding: 2em 2% 0 2%;
	width: 8em;
}


#intro {
	width: 100%;
/*	background-image: url(../images/assortiment.jpg);
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-ms-behavior: url(/assets/backgroundsize.htc) !important;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	z-index: 99999;*/
	background-color: #5385a4;
}

.personalText {
	width: 96%;
	margin: 4% auto;
	padding: 2em;
	max-width: 26em;
	background-color: white;
}

#intro p {
	font-size: 1.1em;
	margin: 1em auto;
}

#intro img {
	width: 10em;
	margin: 0 auto;
	display: block;
}


@media(min-width: 1000px) {
	.container {
		display: inline-block;
		width: 80%;
		margin-left: 20%;
	}
	.nav {
		width: 20%;
		position: fixed;
		background-color: rgba(83,133,164,1);
	}
	.list {
		width: 100%;
	}
	.list img {
	padding: 2em 2% 0 2%;
	width: 96%;
}
}


/*.products table, .total table {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

.products td, .total td {
	width: 12.5%;
}

.euro:before {
	content: "€ ";
}


@media screen and (max-width: 600px) {
	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	}
}*/



  table {
    xborder: 1px solid #ccc;
    width: 100%;
    margin:0 auto;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 600px;
  }

  table tr {
    xborder: 1px solid #ddd;
    padding: 5px;
  }

  table th, table td {
    padding: 10px;
    text-align: center;
  }

  table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }





.klein thead, .klein tbody {
	display: inline-block;
}
.klein {
	text-align: right;	
}

.klein th, .klein td {
	text-align: right;
	xwidth: 12em;
}

.klein td {
	padding-right: 2.8em;
}

.klein th {
	padding-right: 5em;
}



  @media screen and (max-width: 600px) {



.klein thead {
	display: none;
	width: ;
}

 .klein tbody {
 	display: block;
 	width: 100%;
 }


.klein td, .klein th {
	padding-right: 10px;
}

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    table tr {
      xmargin-bottom: 10px;
      display: block;
      border-top: 2px solid #ddd;
    }

    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
      border-bottom: 0;
    }

    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }




button {
	margin: 4em auto;
	display: block;
	background-color: rgba(241,93,34,0.9);
	border: none;
	color: white;
	text-transform: uppercase;
	padding: 1em 2em;
	font-size: 1em;
}


/*
.offerte-header	{
	width: 90%;
	margin: 5%;
	background-color: red;
	float: none;
}

.offerte-header img {
	width: 49%;
	margin: 0;
	padding: 0;
	float: right;
}


#offerte ul {
	margin: 0;
	padding: 0;
	width: 25%;
	display: inline-block; 
	list-style-type: none;
	float: left;
}

*/

.offerte-header {
	margin: 5%;
}

.offerte-header ul {
	display: inline-block;
	width: 44%;
	margin: 2.5%;
	vertical-align: top;
}

.offerte-header img {
	width: 100%;
}





@media (min-width: 600px) {

	.offerte-header ul {
		display: inline-block;
		width: 24%;
		margin: 0;
	}

	.offerte-header img {
		width: 49%;
	}

}






form {
	max-width: 45em;
	margin: 4em auto;
	text-align: right;
}
label {
	display: inline-block;
	width: 8em;
}

td img {
	width: 5em;
}










